*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  body{
    background-color: rgb(255, 255, 255);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 0 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin: 0 10px;
    background-color: inherit;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 20px 0px;
  }
  
  .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 20px;
    
  }
  
  .banner img {
    width: 50%;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
  
  .banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
    max-width: 600px;
  }
  
  .banner p {
    font-size: 18px;
  }
  
  .banner button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }
  
  
  
  
  
  
  